<header class='header'>
  <div class='header-wrapper'>
    <div class='header-content'>
      <span [routerLink]='""' class='header-content__logo'>
        <img [src]='"../assets/images/logo.svg"' alt='' class='header-content__logo-img'>
      </span>
      <div *ngIf='user?.id; else elseBlock' class='header-content__profile profile'>
        <div class='profile-content'>
          <div class='profile-content__balance'>
            <span class='profile-content__balance-text'>{{user?.balance || 0 | currency:'uah':'₴ ':'.2'}}</span>
          </div>
          <div class='profile-content__name' (clickOutside)="closePopover()">
            <span class='profile-content__name-text' (click)='handlePopover()'>Profile</span>
            <app-custom-dropdown [(isOpen)]='isProfilePopoverOpen' [list]='profileMenu'></app-custom-dropdown>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<ng-template #elseBlock>
  <div class='header-content__authentication authentication'>
    <div class='authentication-content'>
      <ul class='authentication-content__buttons buttons'>
        <app-button (click)='openRegistrationModal()' [buttonData]='authenticationButtonsData'>Registration</app-button>
        <app-button (click)='openLoginModal()' [buttonData]='authenticationButtonsData'>Login</app-button>
      </ul>
    </div>
  </div>
</ng-template>

<app-login-modal></app-login-modal>
<app-registration-modal></app-registration-modal>
