@import 'src/mixins';

.header {
	&-wrapper {
		@include wrapper;
	}

	&-content {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 20px 0;

		&__logo {
			cursor: pointer;

			&-img {
				width: 183px;
				height: 32px;
			}
		}
	}
}

.profile {
	&-content {
		display: flex;
		gap: 10px;

		&__balance,
		&__name {
			position: relative;

			&-text {
				display: inline-block;
				font-size: 1.6rem;
				padding: 3px 8px;
				color: var(--white-text-color);
			}
		}

		&__name {
			&-text {
				cursor: pointer;
				background-color: var(--light-green-btn);
			}
		}
	}
}

.authentication {
	&-content {
		&__buttons {
			display: flex;
			gap: 10px;
		}
	}
}

.buttons {
}
