.button {
  display: inline-block;
  background: transparent;
  outline: none;
  border: 0;
  cursor: pointer;

  /** SIZES **/
  &__small {
    padding: 8px 15px;
  }

  &__medium {
    padding: 12px 20px;
  }

  &__large {
    padding: 16px 25px;
  }

  &__wide {
    width: 100%;
    padding: 8px 0;
  }

  /** TYPES **/
  &-green {
    color: var(--white-text-color);
    background-color: var(--light-green-btn);
    transition: all 0.25s ease;

    &:hover {
      background-color: var(--light-green-btn-hvr);
    }
  }
}
