.button {
	display: inline-block;
	background: transparent;
	outline: none;
	border: 0;
	cursor: pointer;
	transition: all 0.25s ease;

	&.disabled {
		opacity: 0.6;
		cursor: default;
	}

	/** SIZES **/
	&__small {
		padding: 8px 15px;
	}

	&__medium {
		padding: 12px 20px;
	}

	&__large {
		padding: 16px 25px;
	}

	&__wide {
		width: 100%;
		padding: 8px 0;
	}

	/** TYPES **/
	&-green {
		color: var(--white-text-color);
		background-color: var(--light-green-btn);

		&:not(.disabled):hover {
			background-color: var(--light-green-btn-hvr);
		}
	}

	&-red {
		color: var(--white-text-color);
		background-color: var(--red-btn);

		&:not(.disabled):hover {
			background-color: var(--red-btn-hvr);
		}
	}
}
