<div class='card'>
  <div class='card-content'>
    <div class='card-content__team team'>
      <div class='team-content'>
        <div class='team-content__logo'>
          <img [src]='match.homeTeam.imageUrl' alt='team' class='team-content__logo-img'>
          <span class='bet' *ngIf='betData.homeTeamBet > 0'>{{betData.homeTeamBet | currency:'uah':'₴ '}}</span>
          <div class='label left' *ngIf='match.homeTeam.odd'>
            <span class='label-text'>x{{match.homeTeam.odd || ''}}</span>
          </div>
        </div>
        <div class='team-content__info'>
          <span class='team-content__info-name'>{{match.homeTeam.name}}</span>
        </div>
      </div>
    </div>

    <div class='card-content__info info'>
      <div class='info-content'>
        <div class='info-content__live'>
          <span class='info-content__live-text'>LIVE</span>
        </div>
        <div class='info-content__start'>
          <span class='info-content__start-text'>{{match.startDate | date:'HH:mm'}}</span>
        </div>
      </div>
    </div>

    <div class='card-content__team team'>
      <div class='team-content'>
        <div class='team-content__logo'>
          <img [src]='match.awayTeam.imageUrl' alt='team' class='team-content__logo-img'>
          <span class='bet' *ngIf='betData.awayTeamBet > 0'>{{betData.awayTeamBet | currency:'uah':'₴ '}}</span>
          <div class='label right' *ngIf='match.awayTeam.odd'>
            <span class='label-text'>x{{match.awayTeam.odd || ''}}</span>
          </div>
        </div>
        <div class='team-content__info'>
          <span class='team-content__info-name'>{{match.awayTeam.name}}</span>
        </div>
      </div>
    </div>
  </div>
</div>
