.card {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-color: var(--match-bg);
	border-radius: 10px;
	overflow: hidden;
	position: relative;

	&-content {
		display: grid;
		grid-template-columns: 1fr auto 1fr;
		gap: 40px;
		padding: 10px 20px 20px;
	}
}

.team {
	&-content {
		text-align: center;

		&__logo {
			position: relative;

			&-img {
				width: 102px;
				height: 100px;
				object-fit: contain;
			}
		}

		&__info {
			display: flex;
			flex-direction: column;
			justify-content: center;

			&-name {
				font-size: 1.6rem;
				color: var(--card-team-color);
			}
		}
	}
}

.bet {
	position: absolute;
	bottom: 0;
	right: 0;
	left: 0;

	font-size: 1.6rem;
	color: var(--white-text-color);
	background-color: var(--odd-label-bg);
	padding: 2px 4px;
}

.info {
	&-content {
		padding-top: 25px;
		text-align: center;

		&__live {
			background-color: var(--live-label-bg);
			border-radius: 10px;
			margin-bottom: 10px;

			&-text {
				color: var(--live-label-color);
				font-size: 1.6rem;
				padding: 3px 11px;
			}
		}

		&__start {
			&-text {
				font-size: 1.6rem;
				color: var(--white-text-color);
			}
		}
	}
}

.label {
	position: absolute;
	top: 10px;
	background-color: var(--odd-label-bg);
	border-radius: 2px;

	&.right {
		left: -10px;
	}

	&.left {
		right: -10px;
	}

	&-text {
		display: inline-block;
		font-size: 1.4rem;
		color: var(--odd-label-color);
		padding: 2px;
	}
}
